body{
    background: url(images/keto.png)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;

    }

.lead{
    font-weight: 600;

}

h1{
    display: block;
  font-size: 2em;
  margin-top: 1.67em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-indent: 200px;
}

p{
    text-indent: 200px;
}
.input-group{

    width: 50%;
    margin-top: 1.67em;
    font-weight: bold;

}

.topcorner{
  position:absolute;
  top:0;
  right:900;
 }
.button{
    background-color: darkblue;
}
